.page {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px 80px;
}

.logo {
  font-weight: 700;
}

.nav a {
  justify-content: end;

  margin-left: 25px;
  color: #777;
  cursor: pointer;
}

.nav .active {
  color: #f6a560;
}

.nav-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}






.hero {
  display: flex; 
  flex-wrap: wrap; 
  padding: 80px;
  align-items: center;
  gap: 40px; 
}

.hero-text {
  flex: 1 1 400px; 
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 20px 0;
}

.hero-text p {
  max-width: 420px;
  color: #666;
}

.hero-price {
  color: #f6a560;
  font-size: 26px;
  margin: 20px 0;
}

.hero-buttons {
  margin-top: 30px;
}

.btn-outline {
  padding: 12px 28px;
  border: 1px solid #ccc;
  background: none;
}

.btn-dark {
  padding: 12px 28px;
  background: #111;
  color: #fff;
  border: none;
  margin-left: 10px;
}

.hero-visual {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 1 400px; 
}

.hero-bg {
  position: absolute;
  width: 360px;
  height: 460px;
  background: #ffb86b;
  top: -40px;
  right: 40px;
}

.hero-visual img {
  width: 320px;
  z-index: 2;
}


.featured {
  padding: 80px;
  text-align: center;
}

.featured-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 260px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  position: relative;
}

.card.up {
  transform: translateY(-20px);
}

.card img {
  width: 140px;
  margin-bottom: 20px;
}

.price {
  color: #f6a560;
}

.card button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #111;
  color: #fff;
  border: none;
}

.sale {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #ffb86b;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}


.story {
  display: flex; 
  flex-wrap: wrap;
  padding: 80px;
  align-items: center;
  gap: 40px;
}

.story-img {
  position: relative;
  flex: 1 1 400px;
}

.story-bg {
  position: absolute;
  width: 300px;
  height: 400px;
  background: #ffb86b;
  top: -30px;
  left: 40px;
}

.story-img img {
  width: 260px;
  position: relative;
  z-index: 2;
}

.story-text {
  flex: 1 1 400px;
}

.story-text p {
  margin: 20px 0;
  color: #666;
  max-width: 400px;
}


.products {
  padding: 80px;
  text-align: center;
}

.products-grid {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.product {
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  flex: 1 1 200px;
  text-align: center;
}

.product span{
  font-size: 23px;
  font-family: 1000;
  color: #FFB568;
}

.product img {
  width: 120px;
}


.review {
    display: flex; 
  flex-wrap: wrap;
  padding: 80px;
  align-items: center;
  gap: 40px;
}

.new {
  padding: 80px;
  text-align: center;
}

.new-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.new-card {
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  flex: 1 1 250px;
  text-align: center;
}

.new-card img {
  width: 140px;
}


.newsletter {
  justify-content: center;
  align-items: center;
  background: #ffb86b;
  width: 1000px;
  height: 315px;
  text-align: center;
}

.newsletter-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.newsletter-box input {
  padding: 12px;
  width: 280px;
  border: none;
}

.newsletter-box button {
  padding: 12px 24px;
  border: none;
  background: #111;
  color: #fff;
}


.footer-container {
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 40px 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section p, .footer-section ul {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #007BFF;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.8rem;
}

.app-container {
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  padding: 20px 80px;
  gap: 40px;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.navbar.dark-mode {
  background-color: #333;
}

.logo h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  font-size: 14px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}


.navbar.dark-mode .nav-links a {
  color: #fff;
}

.icons {
  display: flex;
  margin-left:  1000px;
  gap: 10px;
}

.icon {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.navbar.dark-mode .icon {
  color: #fff;
}



.app{
  min-height: 100vh;
}

.app.active{
  background-color: black;
  color: white;
}